*{
    font-family: 'Helvetica', Courier, monospace;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 200;
    color: rgba(100%,100%,100%,90%);
}
body{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);        
}

#content{
    display: grid;
    height: 600px;
    width: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left right';
    justify-items: center;
}



#search{
    display: flex;
    margin-top: 50px;
    gap: 10px;
    justify-self: center;
}

label{
    font-size: 25px;
    color: rgba(100%,100%,100%,95%);
    margin-top: 4px;
}

input[type="text"]{
    width: 300px;
    height: 30px;
    background-color: rgba(100%,100%,100%,60%);
    outline: none;
    border: none;
}

.material-icons{
    font-size: 28px !important;
    align-self: center;
    padding-left: 5px;
    color: rgb(255, 40, 24);
}

#search-box{
    display: grid;
    height: 35px;
    background-color: rgba(100%,100%,100%,90%);
    border-radius: 20px;
    grid-auto-flow: column;
    grid-template-columns: 35px 1fr 60px;
}

#submit-btn{
    border: thin;
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(56, 243, 224, 0.9);
    font-family: 'Cascadia Mono';
}

#search-input{
    align-self: center;
    background-color: rgba(100%,100%,100%,10%);
    font-size: 20px;
}

#error-message{
    order: 3;
    font-size: 18px;
    margin-top: 5px;
    color:rgba(255, 255, 255, 0.9);
}

#weather-card{
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:20px 80px 20px 100px 20px 80px 20px 80px 20px 80px;
    grid-template-areas: "city-header city-header"
                        "city city"
                        ".  temperature-header"
                        "icon temperature"
                        "description-header description-header"
                        "description description"
                        "feelslike-header feelslike-header"
                        "feelslike feelslike"
                        "humidity-header humidity-header"
                        "humidity humidity";
    align-items: center;
    justify-items: center;
    width: 500px;
    justify-content: center;
    border-radius: 10px;
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 30px;
    color: rgba(255, 255, 255,0.9);
}

#city-header{
    grid-area: city-header;
}

#temperature-header{
    grid-area: temperature-header;
}

#description-header{
    grid-area: description-header;
}

#feelslike-header{
    grid-area: feelslike-header;
}

#humidity-header{
    grid-area: humidity-header;
}

#city-header, #temperature-header, #description-header, #feelslike-header, #humidity-header{
    font-size: 20px;
}

#city{
    grid-area: city;
    display: block;
}

#icon{
    grid-area:icon;
    height: 100px;
}


#temperature{
    grid-area: temperature;
}

#description{
    grid-area: description;
}

#feels-like{
    grid-area: feelslike;
}

#humidity{
    grid-area: humidity;
}